
<h1> Hungry Panda User Profile Page</h1>

<form action="/makePost" enctype="multipart/form-data" method="POST">
    <input type="text" name="caption" placeholder="caption">
    <input type="file" name="file-to-upload">
    <button type="submit">Submit</button>
  </form>
